body{
  font-family: 'Baloo Bhai 2', cursive;
}
.check{
    width: 500;
    color:'red';
}
.product-item{
  display: flex;
  justify-content:space-between;
  width:600;
  border:1px solid black;
  background:#F5F5F7;
}
// li{
//   text-decoration:"none";
// }