body {
  font-family: "Baloo Bhai 2", cursive;
}
.check {
  width: 500;
  color: "red";
}
.product-item {
  display: flex;
  justify-content: space-between;
  width: 600;
  border: 1px solid black;
  background: #f5f5f7;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 rgb(255, 255, 255);
  outline: solid 2px red;
  border: none;
}
// li{
//   text-decoration:"none";
// }
